<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.banner{
    background-color: #13242A;
    text-align: lift;
    padding: 50px 0px;
}
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.banner naw{
    padding-top: 30px;
}
.head{ 
    padding-left: 40px;
}
.head h1{
    font-size:50px;
    color: rgb(0 174 239);
    font-weight: 800;
}
h2{
    font-size: 40px;
    color: white;
}

.banner p{
    font-size:15px;
    color:rgb(253, 252, 252);
    font-weight: 200;
    line-height: 1.6;
    margin-top: 10px;
}
.naw{
display: flex;
align-items: center;
}
.naw img{
    max width: 50px;
    width: 300px;
    border-radius: 5%;
    border: solid white;
}

.head a{
    font-size: 23px;
    background-color: #2a4751;
    font-weight: 600;
    color: rgb(255 255 255);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-top: 17px;
    border-radius: 8px;
}
.middle{
    text-align: lift;
    padding: 80px 0px;
    background-color: #f1f1f1;
}
.again{
    display: flex; align-items: center;}
.text{
    padding-right: 30px;
}
.text h2{
    font-weight: 800;
    font-size: 40px;
    color: rgb(0, 6, 34);
}
.text p{
    font-size:15px;
    color:rgb(0 0 0);
    font-weight: 200;
    line-height: 1.6;
    margin-top: 10px;
}
.sobai{
    background-color: #f1f1f1;
    padding: 70px 0px;
}
.net h2{
    font-weight: 800;
    font-size: 40px;
    color: rgb(0, 6, 34);
}
.net p{
    font-size:15px;
    color:rgb(83, 83, 83);
    font-weight: 200;
    line-height: 1.6;
    margin-top: 10px;
}



.blog{
    background: #13242A;
    padding: 80px 0;
}
.column-3{
    width: 44.44%;
    background: #2a4751;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
}
.column-3 p{
    font-size: 12px;
}
h3{
    font-size: 20px;
    color: rgb(0 174 239);
}
.flex{
    display: flex;
    gap: 40px;
    align-items: center;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
h1{
    margin: 0;
    font-size: 100px;
}
h2{
    margin: 0;
    font-size: 40px;
    font-weight: 100px;
    font-style: italic;
    letter-spacing: 3px;
}
p{
    font-size: 22px;
    line-height: 30px;
    font-weight: 300px;
}

Span{
color: pink;
}












.mentor{
    background-color: #13242A;
    text-align: lift;
    padding: 70px 0px;
}
.fly{
    display: flex;
    align-items: center;
}

.fly man{

}
.main{
    padding-left: 40px;
}
.main h2{
    font-size:40px;
    color:rgb(0 174 239);
    font-weight: 800;
}
.main p{
    font-size:15px;
    color:rgb(253, 252, 252);
    font-weight: 200;
    line-height: 1.6;
    margin-top: 10px;
}
.main a{
    font-size: 23px;
    background-color: rgb(251 177 18);
    font-weight: 600;
    color: rgb(255 255 255);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-top: 17px;
    border-radius: 8px;
}
